<div class="footer-content">
  <div class="box1">
    <h6 class="footer-title">Nous Contacter</h6>
    <p>
      101 cours Charlemagne <br />
      CS 20033
    </p>
    <p>69269 LYON CEDEX 02 France</p>
    <p>+33 (0)4 26 73 40 00</p>
  </div>
  <ul class="footer-list">
    <h6 class="list-title">Infos Utiles</h6>
    <li><a href="">Comment trouver mon artisan ?</a></li>
    <li><a href="">Les artisans du mois</a></li>
    <li><a href="contact">Vous etes artisan ? Rejoignez-nous</a></li>
    <li><a href="contact">Contactez-nous</a></li>
  </ul>
  <ul class="footer-list">
    <h6 class="list-title">Légales</h6>
    <li><a href="mentions">Mentions Légales</a></li>
    <li><a href="mentions">Données personnelles</a></li>
    <li><a href="mentions">Accessibilité</a></li>
    <li><a href="mentions">Cookies</a></li>
  </ul>
</div>
